.canvas {
  position: relative;
  width: 700px;
  margin-top: 40px;
}
.name-input {
  border: 1px solid #cbdad5;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.color-input {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  width: 700px;
  height: 1136px;
}

.color-input-option {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
}

.option-0 { background-color: #4fb4b0; }
.option-1 { background-color: #cabd2c; }
.option-2 { background-color: #fab350; }
.option-3 { background-color: #fcd5a1; }
.option-4 { background-color: #ad4658; }
.option-5 { background-color: #cc7e48; }
.option-6 { background-color: #f3b1d0; }
.option-7 { background-color: #e870ab; }
.option-8 { background-color: #bf1a88; }
.option-9 { background-color: #9f4f9e; }
.option-10 { background-color: #1e1a0f; }
.option-11 { background-color: grey; }

.one {
  display: none;
  position: absolute;
  z-index: -12;
}

.two {
  display: none;
  position: absolute;
  z-index: -11;
}

.three {
  display: none;
  position: absolute;
  z-index: -10;
}

.four {
  display: none;
  position: absolute;
  z-index: -9;
}

.five {
  display: none;
  position: absolute;
  z-index: -8;
}

.six {
  display: none;
  position: absolute;
  z-index: -7;
}

.seven {
  display: none;
  position: absolute;
  z-index: -6;
}

.eight {
  display: none;
  position: absolute;
  z-index: -5;
}

.nine {
  display: none;
  position: absolute;
  z-index: -4;
}

.ten {
  display: none;
  position: absolute;
  z-index: -3;
}

.eleven {
  display: none;
  position: absolute;
  z-index: -2;
}

.message {
  display: none;
}

.message.from-current-user {
  display: none;
}

@media (max-width: 1200px) {
  .color-input {
    display: flex;
    width: 100%;
  }
  .images {
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .images {
    display: flex;
    width: 100%;
  }
  .color-input {
    display: none;
  }
  .name-input {
    display: none;
  }
  .submit-button {
    display: none;
  }
}